.searchText {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.middle {
  background-color: #FFF4DF;
  padding-top: 30px;
}

.searchInput {
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 12px;
  margin-left: 40%;
  background-color: white
}

.pItem {
  color: red;
  display: flex;
  margin: auto;
}

.formProdect {
  background: #FFF4DF;
  background-color: #FFF4DF;
  text-align: start;
  height: auto;
}

.formProdect>h1 {
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 42px;
}

.pupy {
  width: 380px;
  height: 300px;
}


.menuItemHea {
  float: left;
  width: 20%;
  color: #FFF4DF;
}

.menuItem {
  background: #FFF4DF;;
  width: fit-content; 
  cursor: url('https://cdn-icons-png.flaticon.com/128/4968/4968244.png'),pointer;
  padding-bottom: 50px;
}

.inText {
  font-size: 23px;
  font-weight: bold;
  color: black;
  text-align: center;
}

/* modal창 외부화면 */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* modal창 */
.modalBody {
  position: absolute;
  width: 300px;
  height: fit-content;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
 
#modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}
 
#modalCloseBtn:hover {
  cursor: pointer;
}

.submitButton {
  font-size: 20px;
  background: #FFF4DF;
  text-align: center;
  color: black;
  height: 50px;
}

.header1 {
  width: 100%;
  height: 550px;
  background: url(../public/images/dog1.jpg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat : no-repeat;
  background-size : cover;
  color: white;
  font-size : 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor : url(/public/images/loveDog.png), auto;
}

.footer {
  width: 100%;
  height: 100px;
  font-weight: 900;
  display: flex;
  background: url(../public/images/dog1.jpg);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer>p {
  font-size: 13px;
  color: black;
}